extends partial/layout

block content
	.autopagerize_page_element: .content
		.home-header(style="display: flex; flex-direction: column; align-items: center; margin-top: 0.1em;")
			img(src="/images/Home.jpg" alt="Home Image" style="max-width: 700px; width: 135%; height: auto; border-radius: 4px;")
			.motto(style="margin-top: 0.5em; color: #888; font-size: 0.9em; font-family: 'Times New Roman'; font-style: italic;")
				| Per aspera ad astra
		
		//- 修改自定义内容区域的样式
		.custom-content(style="margin: 1.5em auto; width: 100%; max-width: 700px; text-align: left; padding: 0 20px;")
			p(style="font-size: 0.95em; color: #2e4050; line-height: 2; font-family: 'Times New Roman', '楷体';")
				br
				| 『 Quo fata ferunt? 』
				br
				| &nbsp;&nbsp;&nbsp;&nbsp;—— 私たちはもう舞台の上。
				br
				br
				| 举樽邀月至，踏雪寻梅归。这里是秋月春风的书房。
				br
				| 本博客旨在对笔者的所见所思进行归档，分学习与生活两个篇章。
				br
				| 学习部分以课程与自学的笔记为主, 生活部分以随笔与测评合集为主。
				br
				| 现在位于主页，下滑本页即可查看内容导览。
				br
				| 欢迎在底部评论区留言，或通过右侧边栏的账号与我联系。 
				br
				br
				br
				span(style="font-family: 'STZhongsong', '华文中宋', serif; font-size: 1.2em;") 章句日新:&nbsp;学习篇
				br
				| 『 Veritas vos liberabit. 』
				br
				| 浙江大学课程学习：
				a(href="/categories/上浙大" style="margin: 0 4px;") 上浙大
				br
				| 泛计算机类知识自学笔记：
				a(href="/categories/学CS-SE" style="margin: 0 4px;") 学CS/SE &nbsp;
				a(href="/categories/学AI-DS" style="margin: 0 4px;") 学AI/DS
				| &nbsp;泛商科知识学习：
				a(href="/categories/学商科" style="margin: 0 4px;") 学商科
				br
				| 英语学习笔记：
				a(href="/categories/学英语" style="margin: 0 4px;") 学英语
				| &nbsp;小语种与语言学探索：
				a(href="/categories/学语言" style="margin: 0 4px;") 学语言
				| &nbsp;(日/德/法/拉丁...)
				br
				| 纯业余泛社科/理学学习与随想：
				a(href="/categories/思万物" style="margin: 0 4px;") 思万物
				| &nbsp;&nbsp;(哲学/心理/历史/经济/自然/工程...)
				br
				br
				span(style="font-family: 'STZhongsong', '华文中宋', serif; font-size: 1.2em;") 飞鸿踏雪:&nbsp;生活篇
				br
				|『 Tempus omnia revēlat. 』
				br
				| 诗歌与杂文写作摘录:
				a(href="/categories/拾光记" style="margin: 0 4px;") 拾光记
				|&nbsp;(原创版权所有，禁止转载，抄袭必究)
				br
				| 剧院/音乐厅repo & 古典音乐:
				a(href="/categories/进剧院" style="margin: 0 4px;") 进剧院
				| &nbsp;&nbsp;&nbsp;博物馆观展/集章 & 艺术/文物:
				a(href="/categories/观展览" style="margin: 0 4px;") 观展览
				br
				| 读书笔记:
				a(href="/categories/读闲书" style="margin: 0 4px;") 读闲书
				| &nbsp;&nbsp;&nbsp;&nbsp;番剧/影视观后感:
				a(href="/categories/析影视" style="margin: 0 4px;") 析影视
				| &nbsp;&nbsp;&nbsp;&nbsp;散步/旅行游记:
				a(href="/categories/踏旅程" style="margin: 0 4px;") 踏旅程
				br
				| 美食探店分享 & 餐饮杂学:
				a(href="/categories/吃什么" style="margin: 0 4px;") 吃什么
				a(href="/categories/喝咖啡" style="margin: 0 4px;") 喝咖啡
				| &nbsp;&nbsp;&nbsp;&nbsp;体育锻炼:
				a(href="/categories/做运动" style="margin: 0 4px;") 做运动
				br
				| 玄学、神秘学、神学研究:
				a(href="/categories/探幽玄" style="margin: 0 4px;") 探幽玄
				br
				br
				| 归档页面倒序记录了所有文章，这些被记住的日子构成了我完整的生活：
				a(href="/archives" style="margin: 0 4px;") Archive
				br
				| 如果希望查看所有分类，请进入分类页面，点击对应类别按钮进入该类别：
				a(href="/categories" style="margin: 0 4px;") Categories
				br
				| 这里有所有标签的词云图，点击对应词语跳转对应标签页面：
				a(href="/tags" style="margin: 0 4px;") Tags
				br
				| 友情链接界面有秋月春风的朋友们，欢迎联系我交换友链：
				a(href="/friends" style="margin: 0 4px;") Friends
				br
				| 如果你希望更多了解我，请查看关于页面：
				a(href="/about" style="margin: 0 4px;") About
				|,本博客有诸多途径进入它
				br
				br

				| 花径已然缘客扫，蓬门长久为君开。
				br
				| 『 Hinc itur ad astra. 』
				br
				br
				br

				
				#giscus-container
				script(
					src="https://giscus.app/client.js"
					data-repo="YukinoshitaSherry/yukinoshitasherry.github.io"
					data-repo-id="R_kgDONEFZ0Q"
					data-category="General"
					data-category-id="DIC_kwDONEFZ0C4CmKE4"
					data-mapping="pathname"
					data-strict="0"
					data-reactions-enabled="1"
					data-emit-metadata="0"
					data-input-position="bottom"
					data-theme="light"
					data-lang="zh-CN"
					crossorigin="anonymous"
					async
				)


